# Variable

- to store data values

In [38]:
a=1                                 # a is variable
print(a)

1

In [39]:
b=[1,2,3,4,5,6]

In [40]:
print(b)

[1, 2, 3, 4, 5, 6]

In [41]:
a=1
B=2
C=3


# or


a,b,c=1,2,3

Variables

- letters , words
- caps sensitive

- no spaces,
- not allowed : 1st symbols,number

In [42]:
a=2
A=3

print(A,a)

3 2

In [43]:
a=2

a=3         # variable value is updated
print(a)

3

In [44]:
data_science=88
DataSceince=88
Datascience=888

## Cap Sensitive

In [45]:
Apple=24

In [46]:
print(Apple)

24

In [47]:
print(apple)

NameError: name 'apple' is not defined

# Data types

# String (str)

- letters
-  use coat ' ' , " ", """ """

In [48]:
a='demo'

d='13.0'


print(a)

type(a)

demo

str

In [49]:
type(d)

str

# String Slicing
## Indexing


- starts from 0 
- last -- extra 1

In [50]:
s='i am sabarinath'
print(s)

i am sabarinath

In [51]:
len(s)   # include whitespaces

15

In [52]:
s[0]

'i'

In [53]:
s[0:4]

'i am'

In [54]:
s[5:11]

'sabari'

In [55]:
txt = "The best things in life are free ! is it best"
print("free" in txt)

True

In [56]:
txt.upper()

'THE BEST THINGS IN LIFE ARE FREE ! IS IT BEST'

In [57]:
txt.lower()

'the best things in life are free ! is it best'

In [58]:
txt.replace('best','first')

'The first things in life are free ! is it first'

# Format String

-  order is important

In [59]:
age = str(36)
txt = "My name is John, I am " + age
print(txt)

My name is John, I am 36

In [60]:
age = 36
name='alice'

In [61]:
txt = "My name is {}, and I am {}".format(name,age)
txt

'My name is alice, and I am 36'

In [62]:
txt = f"My name is {name}, and I am {age}"
txt

'My name is alice, and I am 36'

In [63]:
name=input('your name :')                 # always return as stirng

year=input('your year :')


age=int(input('your age :'))              # using type casting

your name :
your year :
your age :

ValueError: invalid literal for int() with base 10: ''

In [ ]:
type(year)

In [ ]:
year+2

In [ ]:
txt = f"My name is {name}, and I am {age}"
txt

In [ ]:
age+3

In [ ]:
txt = "Hello World!\n nice"
print(txt)

# Concatenation

- join

In [64]:
a= 'dog'
b="food"

In [65]:
a+' '+b

'dog food'

# Coats in strings

In [66]:
s= 'sabari' 
a="sabarinath"
b="K sabarianth"

In [67]:
print(s,a,b)

sabari sabarinath K sabarianth

In [68]:
s="sabari had pen, pencil"

## Numbers

- whole number  ---  integer (int)
- decimal value  ---- float 
- complex

In [69]:
a=1
b=3.9

print(a,b)
print(type(a))
print(type(b))

1 3.9
<class 'int'>
<class 'float'>

In [70]:
x = 3+5j           #complex number
type(x)

complex

In [71]:
d=2.0
type(d)

float

In [72]:
c=2
type(c)

int

# Type Conversion


## you can

- int,float -- convert--- str
--int---float
--float--- int


## not

- strg --not convert--int,float

## Int to float

In [73]:
a=12
print(a)

12

In [74]:
a=float(12)

In [75]:
type(a)

float

In [76]:
print(a)

12.0

## float to int

In [77]:
a=12.3


a=int(12.699999)              # int conversion cannot roundoff

In [78]:
print(a)

12

## float ,int to Str

In [79]:
a=13
b=14.5

a=str('13')
print(a)

13

In [80]:
type(a)

str

In [81]:
print(a)

13

In [82]:
password=str(12345678)
name='deap'

In [83]:
deap=name+password

In [84]:
deap

'deap12345678'

# Booleans

In [85]:
1==1

True

In [86]:
1!=1

False

In [87]:
txt = "The best things in life are free ! is it best"
print("coin" in txt)

False

There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.     []
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.   ()
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members. {}
- Dictionary is a collection which is ordered** and changeable. No duplicate members.{}

In [110]:
type([])

list

In [111]:
type(())

tuple

In [112]:
type({})

dict

# List
 
 - [ ]

In [88]:
shop=["apple", "banana", "cherry"]

In [89]:
type(shop)

list

In [90]:
type([])

list

In [138]:
# indexing in list is same as string
shop[0:2]

['mango', 'banana']

In [132]:
shop[-1:]        #negative index(from last)

['cherry']

In [119]:
shop[1:3]

['banana', 'cherry']

In [131]:
shop[-3:]

['mango', 'banana', 'cherry']

In [95]:
shop2=[1,2,3]

In [99]:
# concat in list

shops=shop+shop2

In [100]:
shops

['apple', 'banana', 'cherry', 1, 2, 3]

In [102]:
len(shop)

3

In [103]:
#change item in list

shop[0]='mango'    #apple to mango

In [139]:
# Duplicates

shop2=shop+['apple','pineapple','apple',1,1.2,True]

In [140]:
shop2

['mango', 'banana', 'cherry', 'apple', 'pineapple', 'apple', 1, 1.2, True]

In [142]:
shop2[0:3]=[1,2,3]

In [144]:
shop2

[1, 2, 3, 'apple', 'pineapple', 'apple', 1, 1.2, True]

# Add

In [146]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")            # insert (indexing)
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [148]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")              #append (add in end)
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [149]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Remove

In [153]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)                      # remove using indexing
print(thislist)

['apple', 'cherry']

In [152]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [154]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [157]:
# ordering list items
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# copy

In [183]:
a = ["apple", "banana", "cherry"]
print(a)

['apple', 'banana', 'cherry']

In [188]:
b=a                        # 'b' changes affect 'a' also so,use copy() function

In [185]:
print(b)

['apple', 'banana', 'cherry']

In [186]:
b.pop(0)
print(b)

['banana', 'cherry']

In [187]:
a

['banana', 'cherry']

In [189]:
# using copy function

a = ["apple", "banana", "cherry"]
print(a)

['apple', 'banana', 'cherry']

In [193]:
b=a.copy()                   # it won't affect 'a' variable

In [194]:
b.pop(0)
print(b)

['banana', 'cherry']

In [195]:
a

['apple', 'banana', 'cherry']