# Variable

- to store data values

In [1]:
a=1                                 # a is variable
print(a)

1

In [2]:
b=[1,2,3,4,5,6]

In [3]:
print(b)

[1, 2, 3, 4, 5, 6]

In [4]:
a=1
B=2
C=3


# or


a,b,c=1,2,3

Variables

- letters , words
- caps sensitive

- no spaces,
- not allowed : 1st symbols,number

In [5]:
a=2
A=3

print(A,a)

3 2

In [6]:
a=2

a=3         # variable value is updated
print(a)

3

In [7]:
data_science=88
DataSceince=88
Datascience=888

## Cap Sensitive

In [8]:
Apple=24

In [9]:
print(Apple)

24

In [10]:
print(apple)

NameError: name 'apple' is not defined

# Data types

# String (str)

- letters
-  use coat ' ' , " ", """ """

In [11]:
a='demo'

d='13.0'


print(a)

type(a)

demo

str

In [12]:
type(d)

str

# String Slicing
## Indexing


- starts from 0 
- last -- extra 1

In [13]:
s='i am sabarinath'
print(s)

i am sabarinath

In [14]:
len(s)   # include whitespaces

15

In [15]:
s[0]

'i'

In [16]:
s[0:4]

'i am'

In [17]:
s[5:11]

'sabari'

In [18]:
txt = "The best things in life are free ! is it best"
print("free" in txt)

True

In [19]:
txt.upper()

'THE BEST THINGS IN LIFE ARE FREE ! IS IT BEST'

In [20]:
txt.lower()

'the best things in life are free ! is it best'

In [21]:
txt.replace('best','first')

'The first things in life are free ! is it first'

# Format String

-  order is important

In [22]:
age = str(36)
txt = "My name is John, I am " + age
print(txt)

My name is John, I am 36

In [23]:
age = 36
name='alice'

In [24]:
txt = "My name is {}, and I am {}".format(name,age)
txt

'My name is alice, and I am 36'

In [25]:
txt = f"My name is {name}, and I am {age}"
txt

'My name is alice, and I am 36'

In [26]:
name=input('your name :')                 # always return as stirng

year=input('your year :')


age=int(input('your age :'))              # using type casting

your name :sabari
your year :2012
your age :24

In [27]:
type(year)

str

In [28]:
year+2

TypeError: can only concatenate str (not "int") to str

In [29]:
txt = f"My name is {name}, and I am {age}"
txt

'My name is sabari, and I am 24'

In [30]:
age+3

27

In [31]:
txt = "Hello World!\n nice"
print(txt)

Hello World!
 nice

# Concatenation

- join

In [32]:
a= 'dog'
b="food"

In [33]:
a+' '+b

'dog food'

# Coats in strings

In [34]:
s= 'sabari' 
a="sabarinath"
b="K sabarianth"

In [35]:
print(s,a,b)

sabari sabarinath K sabarianth

In [36]:
s="sabari had pen, pencil"

## Numbers

- whole number  ---  integer (int)
- decimal value  ---- float 
- complex

In [37]:
a=1
b=3.9

print(a,b)
print(type(a))
print(type(b))

1 3.9
<class 'int'>
<class 'float'>

In [38]:
x = 3+5j           #complex number
type(x)

complex

In [39]:
d=2.0
type(d)

float

In [40]:
c=2
type(c)

int

# Type Conversion


## you can

- int,float -- convert--- str
--int---float
--float--- int


## not

- strg --not convert--int,float

## Int to float

In [41]:
a=12
print(a)

12

In [42]:
a=float(12)

In [43]:
type(a)

float

In [44]:
print(a)

12.0

## float to int

In [45]:
a=12.3


a=int(12.699999)              # int conversion cannot roundoff

In [46]:
print(a)

12

## float ,int to Str

In [47]:
a=13
b=14.5

a=str('13')
print(a)

13

In [48]:
type(a)

str

In [49]:
print(a)

13

In [50]:
password=str(12345678)
name='deap'

In [51]:
deap=name+password

In [52]:
deap

'deap12345678'

# Booleans

In [53]:
1==1

True

In [54]:
1!=1

False

In [55]:
txt = "The best things in life are free ! is it best"
print("coin" in txt)

False

There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.     []
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.   ()
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members. {}
- Dictionary is a collection which is ordered** and changeable. No duplicate members.{}

In [56]:
type([])

list

In [57]:
type(())

tuple

In [58]:
type({})

dict

# List
 
 - [ ]

In [59]:
shop=["apple", "banana", "cherry"]

In [60]:
type(shop)

list

In [61]:
type([])

list

In [62]:
# indexing in list is same as string
shop[0:2]

['apple', 'banana']

In [63]:
shop[-1:]        #negative index(from last)

['cherry']

In [64]:
shop[1:3]

['banana', 'cherry']

In [65]:
shop[-3:]

['apple', 'banana', 'cherry']

In [66]:
shop2=[1,2,3]

In [67]:
# concat in list

shops=shop+shop2

In [68]:
shops

['apple', 'banana', 'cherry', 1, 2, 3]

In [69]:
len(shop)

3

In [70]:
#change item in list

shop[0]='mango'    #apple to mango

In [71]:
# Duplicates

shop2=shop+['apple','pineapple','apple',1,1.2,True]

In [72]:
shop2

['mango', 'banana', 'cherry', 'apple', 'pineapple', 'apple', 1, 1.2, True]

In [73]:
shop2[0:3]=[1,2,3]

In [74]:
shop2

[1, 2, 3, 'apple', 'pineapple', 'apple', 1, 1.2, True]

# Add

In [75]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")            # insert (indexing)
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [76]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")              #append (add in end)
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [77]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Remove

In [78]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)                      # remove using indexing
print(thislist)

['apple', 'cherry']

In [79]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [80]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [81]:
# ordering list items
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# copy

In [82]:
a = ["apple", "banana", "cherry"]
print(a)

['apple', 'banana', 'cherry']

In [83]:
b=a                        # 'b' changes affect 'a' also so,use copy() function

In [84]:
print(b)

['apple', 'banana', 'cherry']

In [85]:
b.pop(0)
print(b)

['banana', 'cherry']

In [86]:
a

['banana', 'cherry']

In [87]:
# using copy function

a = ["apple", "banana", "cherry"]
print(a)

['apple', 'banana', 'cherry']

In [88]:
b=a.copy()                   # it won't affect 'a' variable

In [89]:
b.pop(0)
print(b)

['banana', 'cherry']

In [90]:
a

['apple', 'banana', 'cherry']

In [91]:
# nested list

In [92]:
a = ["apple", "banana", "cherry",['good','bad']]
print(a)

['apple', 'banana', 'cherry', ['good', 'bad']]

# Tuple

In [93]:
a=(1,2,3,3)             #duplicates allowed

In [94]:
type(a)

tuple

In [95]:
#unchangable                     # no update,delete,remove

a[0]=4

TypeError: 'tuple' object does not support item assignment

In [96]:
# indexingis same as list
a[0]

1

In [97]:
#updating tuples using type cast as list
a=list(a)              # tuple is now coverted to list.....now all list actions can applied
print(a)
type(a)

[1, 2, 3, 3]

list

In [98]:
# value is updated
a[0]=6
a

[6, 2, 3, 3]

In [99]:
a=tuple(a)
a

(6, 2, 3, 3)

In [100]:
a,b,c=2,3,4

In [101]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

# Dict


- stored in keys and values

In [102]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",            
  "year": 1964
}

In [103]:
print(thisdict["brand"])         # Use key instead of indexing

Ford

In [104]:
print(len(thisdict))

3

In [105]:
x = thisdict.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [106]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [107]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [108]:
# update

thisdict['color']= "green"

thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'green'}

In [109]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [110]:
myfamily = {

              "child1" :    {
                  
                            "name" : "Emil",
                            "year" : 2004
                  
                              },

           }

In [111]:
myfamily['child1']['year']

2004

# If and else statement

In [112]:
a=7
if a<=10:
    print(a)

7

In [113]:
a=100
if a<=10:
    print(a)
else:
    print('a is greater than 10')

a is greater than 10

In [114]:
a=17
if a<=10:                             # if condition is true
    print('The value is :',a)
    
if a==17:
    print('a is 17')
    
else:                                   # all condition failed
    print('Sorry Your value is less than 10')

a is 17

In [115]:
a=20
if a<=10:                             # if condition is true
    print('The value is :',a)
    
elif a==17:
    print('a is 17')
    
else:                                   # all condition failed
    print('Sorry Your value is greater than 10')

Sorry Your value is greater than 10

In [116]:
account={
    'sabari':{
        'password':0,
        "amount":100
    },
    'alice':{
        'password':1,
        "amount":200
    },
    'shobi':{
        'password':2,
        "amount":300
    }
       
}

In [117]:
account['sabari']['password'],account['sabari']['amount']

(0, 100)

In [118]:
name='alice'
password=1


if name=='sabari' and password==account['sabari']['password']:
    print ('Your balance is :',account['sabari']['amount'])

elif name=='alice' and password==account['alice']['password']:
    print ('Your balance is :',account['alice']['amount'])

elif name=='shobi' and password==account['shobi']['password']:
    print ('Your balance is :',account['shobi']['amount'])
else:
    print('Account and Password is wrong')

Your balance is : 200

# For loop

In [119]:
a=[1,2,3,4,5]


for item in a:
    print(item)

1
2
3
4
5

In [120]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [121]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:  
    if fruit=='apple':
        print('hey! its contain fiber')
        
    elif fruit=='banana':
        print('its banana')
        break
    else:
        print('hey! a nice day')

hey! its contain fiber
its banana

In [122]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    
    if x == "cherry":
        continue
    print(x)
else:
    print('your list iteam is over')

apple
banana
your list iteam is over

In [123]:
i = 1
while i < 6:
    print(i)
    i=i+1

1
2
3
4
5

# Function

- Block of code
- code reproducibility

In [124]:
print('hello world')

hello world

In [128]:
def add(a,b):           # function name('arguments')
    print(a)
    print(b)
    print('the sum is :',a+b)

In [130]:
add(1,2)

1
2
the sum is : 3

In [160]:
def add(a,b=3):           # default arguments
    print(a)
    print(b)
    print('the sum is :',a+b)
    
    
    
add(4)

4
3
the sum is : 7

In [134]:
add(1)       # number of and position of arguments  in important

TypeError: add() missing 1 required positional argument: 'b'

In [162]:
#position of argument

def mul (x,y):
    print('x =',x)
    print('y =',y)
    return 'The answer is ',x*y

In [154]:
mul(2,4)

x = 2
y = 4

('The answer is ', 8)

In [155]:
mul(4,2)

x = 4
y = 2

('The answer is ', 8)

In [156]:
mul(y=2,x=4)        # mention the arguments

x = 4
y = 2

('The answer is ', 8)

In [157]:
# modularity