# Variable

- to store data values

In [32]:
a=1                                 # a is variable
print(a)

1

In [33]:
b=[1,2,3,4,5,6]

In [34]:
print(b)

[1, 2, 3, 4, 5, 6]

In [35]:
a=1
B=2
C=3


# or


a,b,c=1,2,3

Variables

- letters , words
- caps sensitive

- no spaces,
- not allowed : 1st symbols,number

In [36]:
a=2
A=3

print(A,a)

3 2

In [37]:
a=2

a=3         # variable value is updated
print(a)

3

In [38]:
data_science=88
DataSceince=88
Datascience=888

## Cap Sensitive

In [39]:
Apple=24

In [40]:
print(Apple)

24

In [41]:
print(apple)

NameError: name 'apple' is not defined

# Data types

# String (str)

- letters
-  use coat ' ' , " ", """ """

In [42]:
a='demo'

d='13.0'


print(a)

type(a)

demo

str

In [43]:
type(d)

str

# String Slicing
## Indexing


- starts from 0 
- last -- extra 1

In [44]:
s='i am sabarinath'
print(s)

i am sabarinath

In [45]:
len(s)   # include whitespaces

15

In [46]:
s[0]

'i'

In [47]:
s[0:4]

'i am'

In [48]:
s[5:11]

'sabari'

In [49]:
txt = "The best things in life are free ! is it best"
print("free" in txt)

True

In [50]:
txt.upper()

'THE BEST THINGS IN LIFE ARE FREE ! IS IT BEST'

In [51]:
txt.lower()

'the best things in life are free ! is it best'

In [52]:
txt.replace('best','first')

'The first things in life are free ! is it first'

# Format String

-  order is important

In [53]:
age = str(36)
txt = "My name is John, I am " + age
print(txt)

My name is John, I am 36

In [54]:
age = 36
name='alice'

In [55]:
txt = "My name is {}, and I am {}".format(name,age)
txt

'My name is alice, and I am 36'

In [56]:
txt = f"My name is {name}, and I am {age}"
txt

'My name is alice, and I am 36'

In [62]:
name=input('your name :')                 # always return as stirng

year=input('your year :')


age=int(input('your age :'))              # using type casting

your name :sabari
your year :2022
your age :28

In [63]:
type(year)

str

In [64]:
year+2

TypeError: can only concatenate str (not "int") to str

In [65]:
txt = f"My name is {name}, and I am {age}"
txt

'My name is sabari, and I am 28'

In [66]:
age+3

31

In [67]:
txt = "Hello World!\n nice"
print(txt)

Hello World!
 nice

# Concatenation

- join

In [68]:
a= 'dog'
b="food"

In [69]:
a+' '+b

'dog food'

# Coats in strings

In [70]:
s= 'sabari' 
a="sabarinath"
b="K sabarianth"

In [71]:
print(s,a,b)

sabari sabarinath K sabarianth

In [72]:
s="sabari had pen, pencil"

## Numbers

- whole number  ---  integer (int)
- decimal value  ---- float 
- complex

In [73]:
a=1
b=3.9

print(a,b)
print(type(a))
print(type(b))

1 3.9
<class 'int'>
<class 'float'>

In [74]:
x = 3+5j           #complex number
type(x)

complex

In [75]:
d=2.0
type(d)

float

In [76]:
c=2
type(c)

int

# Type Conversion


## you can

- int,float -- convert--- str
--int---float
--float--- int


## not

- strg --not convert--int,float

## Int to float

In [77]:
a=12
print(a)

12

In [78]:
a=float(12)

In [79]:
type(a)

float

In [80]:
print(a)

12.0

## float to int

In [81]:
a=12.3


a=int(12.699999)              # int conversion cannot roundoff

In [82]:
print(a)

12

## float ,int to Str

In [83]:
a=13
b=14.5

a=str('13')
print(a)

13

In [84]:
type(a)

str

In [85]:
print(a)

13

In [86]:
password=str(12345678)
name='deap'

In [87]:
deap=name+password

In [88]:
deap

'deap12345678'

# Booleans

In [89]:
1==1

True

In [90]:
1!=1

False

In [91]:
txt = "The best things in life are free ! is it best"
print("coin" in txt)

False