# Variable

- to store data values

In [1]:
a=1                                 # a is variable
print(a)

1

In [2]:
b=[1,2,3,4,5,6]

In [3]:
print(b)

[1, 2, 3, 4, 5, 6]

In [4]:
a=1
B=2
C=3


# or


a,b,c=1,2,3

Variables

- letters , words
- caps sensitive

- no spaces,
- not allowed : 1st symbols,number

In [5]:
a=2
A=3

print(A,a)

3 2

In [6]:
a=2

a=3         # variable value is updated
print(a)

3

In [7]:
data_science=88
DataSceince=88
Datascience=888

## Cap Sensitive

In [8]:
Apple=24

In [9]:
print(Apple)

24

In [10]:
print(apple)

NameError: name 'apple' is not defined

# Data types

# String (str)

- letters
-  use coat ' ' , " ", """ """

In [ ]:
a='demo'

d='13.0'


print(a)

type(a)

In [ ]:
type(d)

# String Slicing
## Indexing


- starts from 0 
- last -- extra 1

In [11]:
s='i am sabarinath'
print(s)

i am sabarinath

In [12]:
len(s)   # include whitespaces

15

In [13]:
s[0]

'i'

In [14]:
s[0:4]

'i am'

In [15]:
s[5:11]

'sabari'

In [16]:
txt = "The best things in life are free ! is it best"
print("free" in txt)

True

In [17]:
txt.upper()

'THE BEST THINGS IN LIFE ARE FREE ! IS IT BEST'

In [18]:
txt.lower()

'the best things in life are free ! is it best'

In [19]:
txt.replace('best','first')

'The first things in life are free ! is it first'

# Format String

-  order is important

In [20]:
age = str(36)
txt = "My name is John, I am " + age
print(txt)

My name is John, I am 36

In [21]:
age = 36
name='alice'

In [22]:
txt = "My name is {}, and I am {}".format(name,age)
txt

'My name is alice, and I am 36'

In [23]:
txt = f"My name is {name}, and I am {age}"
txt

'My name is alice, and I am 36'

In [24]:
name=input('your name :')                 # always return as stirng

year=input('your year :')


age=int(input('your age :'))              # using type casting

your name :
your year :
your age :

ValueError: invalid literal for int() with base 10: ''

In [ ]:
type(year)

In [ ]:
year+2

In [ ]:
txt = f"My name is {name}, and I am {age}"
txt

In [ ]:
age+3

In [ ]:
txt = "Hello World!\n nice"
print(txt)

# Concatenation

- join

In [25]:
a= 'dog'
b="food"

In [26]:
a+' '+b

'dog food'

# Coats in strings

In [27]:
s= 'sabari' 
a="sabarinath"
b="K sabarianth"

In [28]:
print(s,a,b)

sabari sabarinath K sabarianth

In [29]:
s="sabari had pen, pencil"

## Numbers

- whole number  ---  integer (int)
- decimal value  ---- float 
- complex

In [30]:
a=1
b=3.9

print(a,b)
print(type(a))
print(type(b))

1 3.9
<class 'int'>
<class 'float'>

In [31]:
x = 3+5j           #complex number
type(x)

complex

In [32]:
d=2.0
type(d)

float

In [33]:
c=2
type(c)

int

# Type Conversion


## you can

- int,float -- convert--- str
--int---float
--float--- int


## not

- strg --not convert--int,float

## Int to float

In [34]:
a=12
print(a)

12

In [35]:
a=float(12)

In [36]:
type(a)

float

In [37]:
print(a)

12.0

## float to int

In [38]:
a=12.3


a=int(12.699999)              # int conversion cannot roundoff

In [39]:
print(a)

12

## float ,int to Str

In [40]:
a=13
b=14.5

a=str('13')
print(a)

13

In [41]:
type(a)

str

In [42]:
print(a)

13

In [43]:
password=str(12345678)
name='deap'

In [44]:
deap=name+password

In [45]:
deap

'deap12345678'

# Booleans

In [46]:
1==1

True

In [47]:
1!=1

False

In [48]:
txt = "The best things in life are free ! is it best"
print("coin" in txt)

False

There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.     []
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.   ()
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members. {}
- Dictionary is a collection which is ordered** and changeable. No duplicate members.{}

In [49]:
type([])

list

In [50]:
type(())

tuple

In [51]:
type({})

dict

# List
 
 - [ ]

In [52]:
shop=["apple", "banana", "cherry"]

In [53]:
type(shop)

list

In [54]:
type([])

list

In [55]:
# indexing in list is same as string
shop[0:2]

['apple', 'banana']

In [56]:
shop[-1:]        #negative index(from last)

['cherry']

In [57]:
shop[1:3]

['banana', 'cherry']

In [58]:
shop[-3:]

['apple', 'banana', 'cherry']

In [59]:
shop2=[1,2,3]

In [60]:
# concat in list

shops=shop+shop2

In [61]:
shops

['apple', 'banana', 'cherry', 1, 2, 3]

In [62]:
len(shop)

3

In [63]:
#change item in list

shop[0]='mango'    #apple to mango

In [64]:
# Duplicates

shop2=shop+['apple','pineapple','apple',1,1.2,True]

In [65]:
shop2

['mango', 'banana', 'cherry', 'apple', 'pineapple', 'apple', 1, 1.2, True]

In [66]:
shop2[0:3]=[1,2,3]

In [67]:
shop2

[1, 2, 3, 'apple', 'pineapple', 'apple', 1, 1.2, True]

# Add

In [68]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")            # insert (indexing)
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [69]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")              #append (add in end)
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [70]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Remove

In [71]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)                      # remove using indexing
print(thislist)

['apple', 'cherry']

In [72]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [73]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [74]:
# ordering list items
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# copy

In [75]:
a = ["apple", "banana", "cherry"]
print(a)

['apple', 'banana', 'cherry']

In [76]:
b=a                        # 'b' changes affect 'a' also so,use copy() function

In [77]:
print(b)

['apple', 'banana', 'cherry']

In [78]:
b.pop(0)
print(b)

['banana', 'cherry']

In [79]:
a

['banana', 'cherry']

In [80]:
# using copy function

a = ["apple", "banana", "cherry"]
print(a)

['apple', 'banana', 'cherry']

In [81]:
b=a.copy()                   # it won't affect 'a' variable

In [82]:
b.pop(0)
print(b)

['banana', 'cherry']

In [83]:
a

['apple', 'banana', 'cherry']

In [ ]:
# nested list

In [132]:
a = ["apple", "banana", "cherry",['good','bad']]
print(a)

['apple', 'banana', 'cherry', ['good', 'bad']]

# Tuple

In [123]:
a=(1,2,3,3)             #duplicates allowed

In [124]:
type(a)

tuple

In [125]:
#unchangable                     # no update,delete,remove

a[0]=4

TypeError: 'tuple' object does not support item assignment

In [ ]:
# indexingis same as list
a[0]

In [126]:
#updating tuples using type cast as list
a=list(a)              # tuple is now coverted to list.....now all list actions can applied
print(a)
type(a)

[1, 2, 3, 3]

list

In [127]:
# value is updated
a[0]=6
a

[6, 2, 3, 3]

In [128]:
a=tuple(a)
a

(6, 2, 3, 3)

In [129]:
a,b,c=2,3,4

In [131]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

# Dict


- stored in keys and values

In [150]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",            
  "year": 1964
}

In [151]:
print(thisdict["brand"])         # Use key instead of indexing

Ford

In [152]:
print(len(thisdict))

3

In [153]:
x = thisdict.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [154]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [155]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [156]:
# update

thisdict['color']= "green"

thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'green'}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [163]:
myfamily = {

              "child1" :    {
                  
                            "name" : "Emil",
                            "year" : 2004
                  
                              },

           }

In [164]:
myfamily['child1']['year']

2004